.back-to-top {
  position: fixed;
  bottom: 93px;
  right: -90px;
  z-index: 980;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  &:hover{
    a{
      color: #ed1b24;
      border: 1px solid #ccc;
    }
  }
  a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-size: 13px;
    padding: 18px 0 6px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    background: #d2d2d2;
    font-weight: bold;
    border: 1px solid #e9e9e9;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    text-decoration: none;
    color: #333333;
    svg{
      width: 25px !important;
    }
  }
  &.display{
    right: 18px;
  }
}
