/*====================[UTM Avo]====================*/
@font-face{
  font-family:'UTM AvoBold';
  src:url('../fonts/UTM Avo/UTM AvoBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[UTM Cafeta]====================*/
@font-face{
  font-family:'UTM Cafeta';
  src:url('../fonts/UTM Cafeta/UTM Cafeta.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
/*====================[Roboto]====================*/
@font-face{
  font-family:'Roboto-Regular';
  src:url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto-Bold_0';
  src:url('../fonts/Roboto/Roboto-Bold_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Roboto-Medium_0';
  src:url('../fonts/Roboto/Roboto-Medium_0.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}