.box1{
  border: 1px solid #e5e5e5;
  padding: 5px;
}
.txt_tieudiem{
  background-color: #97204a;
  color: #ffffff;
  font-family:'UTM Cafeta';
  font-size: 16px;
  padding: 6px 12px;
  margin: 0;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    display: inline-block;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 17.5px solid transparent;
    border-bottom: 17.5px solid transparent;

    border-left: 10px solid #97204a;
  }
}
.search_h{
  .uk-search-input{
    border: none;
    height: 34px;
  }
}
.list1{
  li{
    a{
      color: #333333;
      text-decoration: none;
      &:hover{
        color: #3d519f;
      }
    }
  }
}